<div class="main">
	<br>
	<div class="prompt"><h1>Make Sense of Historical Stock Data</h1></div><br>
  <input id="search_input" class="ticker" type="text" placeholder="AAPL"><br><br>
  <button id="search" class="pure-button pure-button-primary pure-button-xlarge" href="#">Search</button><br><br>
  <div id="result_chart" style="height: 500px; min-width: 500px"></div>
  <div id="search_result"></div><br><br>
</div>
<br><br>
