<div class="main">
	
	<div class="prompt">
    <h2>MAKE SENSE OF HISTORICAL STOCK DATA</h2>
  </div>
  <input id="search_input" class="ticker" type="text" placeholder="YHOO">
  <button id="search" class="pure-button pure-button-primary pure-button-xlarge" href="#">Search</button>
  <link rel="icon" type="image/x-icon" href="public/favicon.ico" />

  <div class="future_projections">
  	<div class="day one">
      <h4>Next Day</h4>
      <span id='probability'></span>
    </div>
 	</div>

  <div id="result_chart" style="backgroundColor:'black'"></div>
  <div id="search_result"></div>
</div>

