<div class="main">
	<br>
	<div class="prompt"><h1>MAKE SENSE OF HISTORICAL STOCK DATA</h1></div>
  <input id="search_input" class="ticker" type="text" placeholder="AAPL">
  <br><br>
  <button id="search" class="pure-button" href="#">Search</button>
  <br><br>
  <div id="search_result"></div>
</div>

<br><br>
