<pre>
 ____  _             _    ___ _
/ ___|| |_ ___   ___| | _|_ _| |_
\___ \| __/ _ \ / __| |/ /| || __|
 ___) | || (_) | (__|   < | || |_
|____/ \__\___/ \___|_|\_\___|\__|
</pre>
<div id="container">
  <div id="search_wrapper">
    <input id="search_input" type="text" placeholder="Which stock are you looking for?">
    <a id="search" href="#">Search</a>
    <div id="search_result"></div>
  </div>
</div>
