<div class="main">
	<br>
	<div class="prompt"><h1>Which stock are you looking for?</h1></div><br>
  <input id="search_input" class="ticker" type="text" placeholder="AAPL"><br><br>
  <button id="search" class="pure-button pure-button-primary pure-button-xlarge" href="#">Search</button><br><br>
  <div id="search_result"></div>
</div>
<br><br>
