<div class="main">
	<br>
	<div class="prompt"><h1>MAKE SENSE OF HISTORICAL STOCK DATA</h1></div><br>
  <input id="search_input" class="ticker" type="text" placeholder="YHOO">
  <button id="search" class="pure-button pure-button-primary pure-button-xlarge" href="#">Search</button><br><br>

  <br><br>
  <div class="future_projections">
  	<div class="day one"><h4>Next Day</h4><span id='probability'></span></div>
 	</div>
  <div id="result_chart" style="height: 500px; min-width: 500px"></div>
  <div id="search_result"></div><br><br>
</div>
<br><br>
