<html>
<head>
  <meta charset="UTF-8">
  <title>Stock It!</title>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" ></script>
  <script src="js/main.js"></script>
</head>
<body>
  <%= yield %>
</body>
</html>