body, html {
	margin: 0;
	padding: 0;
	color: whiteSmoke;
	font-family: 'Lucida-Grande', sans-serif;
	font-weight: 100;
}

.main {
	float: left;
	background-color: #47A870;
	text-align: center;
	min-height: 1020px;
}

.ticker {
	font-size: 120%;
	text-align: center;
	height: 50px;
}

.pure-button {
	margin-left: auto;
	margin-right: auto;
  line-height: 1.5em;
  background-color: #5D6369;
  font-weight: 100;
}

.pure-button-xlarge {
  font-size: 125%;
}

.prompt {
	font-size: 3.5em;
	text-align: center;
}

h2, h4{
	margin: .5em auto;
	font-weight: 100;
}

h4 {
	margin: .2em auto;
	font-size: .8em;
}

#search_result {
	font-size: 3em;
	background-color: whiteSmoke;
	color: green;
	width: 258px;
	margin: 0 auto;
}

#result_chart {
	width: 90%;
	margin: 0 auto;
	min-height: 0;
}

.future_projections {
	width: 90%;
	margin: 0 auto;
	visibility: hidden;
}

.day {
	margin: 1em auto;
	width: 350px;
	height: 130px;
	background-color: #5D6369;
	font-size: 3em;
	padding: .4em;
}

.up {
	color: #47A870;
}

.down {
	color: rgb(255, 82, 82);
}

.loading {
	background-image: url('../images/ajax-loader.gif');
	background-size: 16px 16px;
	background-repeat:no-repeat;
	background-position: right center;
}
